
/*  Menu coté mobile pour qui reste en bas de page et toujours visible */

.menu {
    position: fixed;
    bottom: 0;
    z-index: 1000;
}
/*------------------------------------------------------------------------------*/

.black {
    background-color: black;
}

.nav {
    min-height: 800px;
}

.nav-link {
    color: white;
}

/* Nom du site en couleur dégrader pour la page de connexion */

.nomE {
    background: -webkit-gradient(linear, left top, left bottom, from(#ff1493), to(#045FB4));
    background: linear-gradient(to right, #045FB4, #ff1493);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*----------------------------------------------------------------------------------------------------*/

.card {
    background-color: #9e9d9d;
    border-radius: 20px;
    border: 1px solid black;

}

.card1 {
    background-color: #9e9d9d;
    border-radius: 20px;

}
.card3 {
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
}

/* les input de connexion  */
.co {
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
}
/*--------------------------------*/

.mdp {
    text-decoration: underline;
    color: white;
}


/* modifications prisent en compte jusqu'à 991 px */

@media screen and (max-width: 991px) {
    body {
        background-color: black;

    }

    .bienvenue {
        color: white;
    }

    .co {
        border: 1px solid black;
    }

    .card {
        background-color: black;
    }

    .cardInfos {
        background-color: white;
    }

    .card1 {
        background-color: black;
    }

    .card2 {
        background-color: black;
    }
}
/*--------------------------------------------------------------------------------------------*/


/* modifications prisent en compte à partir de 991*/
@media screen and (min-width: 991px) {
    .client {
        text-align: right;
        margin-right: 5%;
    }
}
/*-----------------------------------------------------------------------------------------*/


/* modifications prisent en compte jusqu'à  760*/
@media screen and (max-width: 760px) {
    .action, .prenom {
        display: none;
    }
    .card3{
        margin-bottom: 5%;
    }


}

/*-----------------------------------------------------------------------------------------*/


/* modifications prisent en compte à partir de 760*/
@media screen and (min-width: 760px) {
    .actionMobile {
        display: none;
    }

}
/*----------------------------------------------------------------------------------------*/



/* Slider pour ajouter les commentaires */

.panel, #flip {
    padding: 5px;
    text-align: center;

}

.panel {

    display: none;
}
/*---------------------------------------------------------------------------------------*/



 /* Slider pour ajouter les prestations */
.panel1, #flip1 {
    padding: 5px;
    text-align: center;

}

.panel1 {

    display: none;
}
